<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erupt: Volcano Bingo</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="cardbox">
        
        <div id="banner">
            <h1>ERUPT!</h1>
            <h2>Volcano Disaster Movie Bingo</h2>
        </div>

        <div class="cardwindow">
            <div class="card">
                <div class="square header">E</div>
                <div class="square header">R</div>
                <div class="square header">U</div>
                <div class="square header">P</div>
                <div class="square header">T</div>
                <div class="square e row1 corner diagonal1"><%= trope[0] %></div>
                <div class="square r row1"><%= trope[1] %></div>
                <div class="square u row1"><%= trope[2] %></div>
                <div class="square p row1"><%= trope[3] %></div>
                <div class="square t row1 corner diagonal2"><%= trope[4] %></div>
                <div class="square e row2"><%= trope[5] %></div>
                <div class="square r row2 diagonal1"><%= trope[6] %></div>
                <div class="square u row2"><%= trope[7] %></div>
                <div class="square p row2 diagonal2"><%= trope[8] %></div>
                <div class="square t row2"><%= trope[9] %></div>
                <div class="square e row3"><%= trope[10] %></div>
                <div class="square r row3"><%= trope[11] %></div>
                <div class="square free u row3 diagonal1 diagonal2">Volcano Erupts</div>
                <div class="square p row3"><%= trope[12] %></div>
                <div class="square t row3"><%= trope[13] %></div>
                <div class="square e row4"><%= trope[14] %></div>
                <div class="square r row4 diagonal2"><%= trope[15] %></div>
                <div class="square u row4"><%= trope[16] %></div>
                <div class="square p row4 diagonal1"><%= trope[17] %></div>
                <div class="square t row4"><%= trope[18] %></div>
                <div class="square e row5 corner diagonal2"><%= trope[19] %></div>
                <div class="square r row5"><%= trope[20] %></div>
                <div class="square u row5"><%= trope[21] %></div>
                <div class="square p row5"><%= trope[22] %></div>
                <div class="square t row5 corner diagonal1"><%= trope[23] %></div>
            </div>
            <div id="controls">
                <button onclick="clearSelected()">Clear Selected</button>
                <button id="darkMode" onclick="toggleDarkMode()">Dark Mode</button>
                <button id="bigMode" onclick="toggleBigMode()">Big Mode</button>
                <button id="mute" onclick="toggleMute()">Turn Sound Off</button>
                <button onclick="newCard()">New Bingo Card</button>
            </div>
        </div>

        <div id="counter" class="counter">
            <div>Eruption Level</div>
            <div id="count">None</div>
            <div id="eruption-column-height"></div>
            <div id="indicator">Dormant</div>
        </div>
    </div>

    <h3>Rules</h3>
        <ol>
            <li>Pick any volcano disaster movie, for suggestions check out <a href="./suggestions">this list</a>.</li>
            <li>Have everyone in your group playing open this site on their phone/computer.</li>
            <li>Click on a squares as the tropes occur in the movie.</li>
            <ul>
                <li>Share the trope with the group as it occurs</li>
                <li>Unsure if an event counts? Ask the other players if the event "close enough" to count.</li>
                <li>Each trope checked raises your eruption column height.</li>
            </ul>
            <li>Yell "Eruption" when every square in a row, column, diagonal, or four corners is highlighted.</li>
            <ul>
                <li>Pause the movie and share each of the squares you've checked.</li>
                <li>Each eruption raises your explosivity index (VEI) by 1 point.</li>
            </ul>
            <li>The player with the highest explosivity index (VEI) and highest eruption column height at the end of the movie wins.</li>
        </ol>
    <h3>Refreshing the page generates a new bingo card. Bingo cards are randomly generated.</h3>
    <script src="./index.js"></script>
</body>
</html>